doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/login.css")
        title #{nombrePagina} | LinoRender

        p.empresa Lino
            span.empresa_span Render
        p.nombrePagina= nombrePagina

        form(action="/registrate" method="POST")

            if errores 
                div.mensajes
                    each error in errores
                        p.parrafoError=error.msg

            div.contenedor
                label(for="nombre" class="label") Nombres
                input(type="text" name="nombre" id="nombre" class="campo_contenedor" placeholder="Ejm: Lino Router" value=`${data ? data.nombre : ''}`)
                label(for="email" class="label") Email
                input(type="email" name="email" id="email" class="campo_contenedor" placeholder="Ejm: lino@lino.com" value=`${data ? data.email : ''}`)
                label(for="password" class="label") Contrase침a
                input(type="password" name="password" id="password" class="campo_contenedor" placeholder="Ingresa tu password")
                label(for="repeat" class="label") Repite tu contrase침a
                input(type="password" name="repeat" id="repeat" class="campo_contenedor" placeholder="Repite tu password")
                div.enlaces_auth
                    a(href="/") Iniciar Sesi칩n 
                    a(href="/recuperar-password") Olvide mi contrase침a
                input(type="submit" class="btnIniciar" value="Crear cuenta")
        
        div 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,202.7C384,181,480,107,576,85.3C672,64,768,96,864,144C960,192,1056,256,1152,245.3C1248,235,1344,149,1392,106.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

    body 